.cart-count{
    text-align: center;
    font-size: x-large;
}
.product-div{
    display: flex;
    justify-content: center;
    gap: 5%;
    margin-left: 10%;
}
.product-div div{
    width: 20%;
    margin: auto;
}
.prod-image img{
    height: 100px;
    width: 100px;
}
.prod-name-div{
    font-size: medium;
}
.prod-price-div{
    margin-left: 20px;
    font-size: large;
}
#input{
    width: 15px;
    text-align: center;
}
#quant-div{
    margin-left: 3%;
    margin-top: 3%;
}
.cashback-text-div{
    display: flex;
    background-color: rgb(244,244,244);
    justify-content: center;
    gap: 20%;
    margin-top: 20px;
}
.empty-cart-image{
    display: flex;
    justify-content: center;
}
input[type=text]{
    width: 70%;
    font-size: 16px;
    height: 16px;
}
#checkout{
    width: 100%;
    background-color: #333333;
    color: white;
    font-size: 25px;
    font-weight: 700;
    height: 40px;
}
#checkout>a{
    text-decoration: none;
    color:white
}